<div class="body">

  <div class="box">
    <nav>
      <h1 class="title">Connection</h1>
    </nav>
    <div class="alreadyCo" *ngIf="this.authService.isLoggedIn==true">
      <p>You're already connected !</p>
      <button class="logOut button is-danger" value="Home" (click)="authService.SignOut()">
        Log out
      </button>
    </div>

    <form *ngIf="!this.authService.isLoggedIn==true">
      <div>
        <div class="field">
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input type="text" class="input" placeholder="xyz@mail.com" #userName required>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input type="password" class="input" placeholder="Mys3cretp@ssword" #userPassword required>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="login">
        <table class="loginTable">
          <td class="checkboxCol">
            <label class="checkbox">
              <input type="checkbox">
              Remember me
            </label>
          </td>
          <td class="buttonCol">
            <button class="small button is-primary" value="Connexion"
              (click)="authService.signIn(userName.value, userPassword.value)">
              Log in
            </button>
          </td>
        </table>
      </div>

      <div class="links">
        <a class="forgottenPassword" routerLink="/forgotPassword">Mot de passe oublié</a>
        <br>
        <p class="noAccount">Vous n'avez pas de compte ? <a routerLink="/signUp">Inscrivez-vous</a></p>
      </div>
    </form>

  </div>
</div>