<body class="box">
        <table class="dialogHeader">
                <tr class="closeLine">
                        <button class="deleteTileButton" (click)="closeDialog()">x</button>
                </tr>
                <br/>
                <tr class="buttonsLine">
                        <div>
                                <button class="button is-light" type="button" (click)="localSave(BingoData, BingoId, BingoBody)">Save bingo
                                        locally</button>

                                <button class="button logInAndSave is-link" type="button" (click)="logInAndSave()">Log in</button>
                        </div>
                </tr>
                
        </table>
</body>