.box {
    padding-top:0.25em;
    .dialogHeader {
        width: 100%;
        .closeLine {
            width: 2%;
            margin-bottom: 5px;
            text-align: end;
            float: right;
            .deleteTileButton {
                display: inline-block;
                font-size: x-small;
                color: black;
                font-weight: bolder;
                position: absolute;
                border: none;
                background: none;
                cursor: pointer;
            }
        }

        .buttonsLine {
            width: 98%;

            .title {
                display: inline-block;
            }
        }
    }

    .button {
        margin: 5px;
    }
}