#container {
        min-height: 560px;
        font-size: 1.5rem;
        padding-top: 100px;
        padding-bottom: 120px;
        background-color: rgb(16, 155, 197);
        position: relative;
}

.spinner{
        display: flex;
        padding-top: 10%;
        justify-content: center;
        height: 100%;
}

.mat-progress-spinner {
        color: rgb(255,255,255);
        background-color: rgb(16, 155, 197);
}