#header{
    width: 100%;
}

#container{
    #content{
        overflow: hidden;
        font-size: 1.5rem;
        padding-top:10px;
        padding-bottom: 50px;
        background-color: rgb(16, 155, 197);
    }
}



#footer{
    width: 100%;
}
