.headerProfile {
    position: fixed;
    right: 0;
    margin-right: 20px;
    z-index: 1000;
    text-align: end;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;

    .info {
        text-align: start;
    }

    .buttons {
        .settingsDiv {
            width: 50%;
            text-align: start;

            .settingsImg {
                border: solid 1px rgba(106, 104, 104, 0.421);
                background-color: rgb(222, 214, 214);
                padding: 5px;
                border-radius: 25px;
                cursor: pointer;
                width: 45px;
                vertical-align: middle;
            }
        }


        .buttonDiv {
            width: 50%;
            text-align: end;

            .button {
                margin-bottom: 0;
                vertical-align: middle;
            }
        }


    }
}