.tile{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-size: medium;
    font-weight: 100;
    padding-top: 15px;
    color:rgb(29, 28, 28);
    background-color: rgb(211, 214, 236);
}