.tile {
    display: inline-block;
    margin: 5px;
    width: 150px;
    height: 55px;
    border-radius: 3px;
    font-size: medium;
    font-weight: 100;
    color: rgb(29, 28, 28);
    background-color: rgb(211, 214, 236);
    position: relative;

    .deleteTileButton {
        align-self: right;
        font-size: x-small;
        color: black;
        font-weight: bolder;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

    .addTileButton {
        font-weight: 600;
        width: 100%;
        text-align: center;
        border: none;
        background: none;
        cursor: pointer;
    }

    .textAreaTileText {
        border-radius: 3px;
        resize: none;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 120px;
        height: 35.2px;
        border: none;
        background: none;
        background-color: rgb(233, 234, 241);
        cursor: text;
    }
}