<br *ngIf="tile.state=='empty'"/>
<div class="tile">
    <button class="deleteTileButton" *ngIf="tile.state!='empty'" (click)="deleteTile()">x</button>
    <br *ngIf="tile.state!='empty'" />
    <button class="addTileButton" *ngIf="tile.state=='empty'" (click)="addOrChange($event, false)">Add</button>
    <hr *ngIf="tile.state=='empty'"/>
    <button class="addBlankTileButton" *ngIf="tile.state=='empty'" (click)="addOrChange($event, true)">Add <br/> blank</button>
    <textarea class="textAreaTileText" rows="2" *ngIf="tile.state=='filled'" value="{{tile.text}}"
        placeholder="Add tile text here ..." (input)="addOrChange($event, true)"></textarea>
    <p class="blankText" *ngIf="tile.state=='blank'">{{tile.text}}</p>

</div>