<div class="container" *ngIf="this.online">
    <div class="spinner" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate" diameter="400"></mat-progress-spinner>
    </div>
    <ul class="userList" *ngIf="!loading">
        <li class="user" *ngFor="let user of userList">
            <button class="accordion {{user.uid}}" (click)="accordionAction(user.uid!)">{{user.pseudo}}</button>
            <div class="{{user.uid}} userCard">
                <app-user-card [user]="user"></app-user-card>
            </div>          
        </li>
    </ul>
</div>

<div class="container" *ngIf="!this.online && !this.loading">
    <p>You are currently offline. Try to use the application while being connected to internet, a newer version may exist</p>
</div>
