<div class="body" id="bodyCard">

    <div class="hasAccess" *ngIf="Bingo.uid != ''">
        <p>{{Bingo.uid}}</p>

        <p>{{Bingo.owner}}</p>

        <p>{{Bingo.creationDate}}</p>

        <p>Will allow to display a playable bingo overview for bingo</p>
        <div class="bingo" id="bingo">
            <ul class="lineList" *ngIf="!editMod">
                <li *ngFor="let line of bingoObject.bingoBody">
                    <ul>
                        <li class="line">
                            <app-tile-display *ngFor="let tile of line" [Tile]="tile"></app-tile-display>
                        </li>
                    </ul>
                </li>
            </ul>
            <app-bingo-list [Bingo]="Bingo" *ngIf="editMod"></app-bingo-list>
            <div class="actionButtons">
                <div class="select is-small" *ngIf="editMod">
                    <form [formGroup]="accessFormGroup">
                        <select formControlName="accessFormControl" class="selectContent">
                            <option value="0">Public</option>
                            <option value="1">Private</option>
                        </select>
                    </form>
                </div>
                <button class="button is-info" *ngIf="!editMod" (click)="editBingo()">Edit</button>
                <button class="button is-success" *ngIf="editMod" (click)="updateBingo()">Save</button>
                <button class="button is-danger" (click)="deleteBingo(Bingo.uid)">Delete</button>
            </div>
        </div>
    </div>
    
</div>