.spinner{
    position: fixed;
    right: 0;
    margin-right: 20px;
    z-index: 1000;
    text-align: end;
    padding: 10px;
}

.headerProfile {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size:15px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    .info {
        text-align: start;
    }

    .buttons {
        left: 0%;
        flex-wrap: nowrap;

        .buttonsTable {
            width: 100%;
        }

        .settingsCol {
            width: 25%;
            text-align: start;

            .settingsDiv {
                width: 100%;
                height: 45px;

                .settingsImg {
                    border: solid 1px rgba(106, 104, 104, 0.421);
                    padding: 5px;
                    border-radius: 25px;
                    cursor: pointer;
                    width: 45px;
                    vertical-align: middle;
                }
            }
        }

        .emailCol {
            width: 34%;
            padding-top: 5px;
            text-align: center;
            .emailVerifiedDiv {
                cursor: pointer;
                width: 100%;

                .lockImg {
                    position: absolute;
                    width: 30px;
                    height: 28px;
                }

                .emailImg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .buttonCol {
            width: 33%;

            text-align: end;

            .buttonDiv {
                width: 50%;

                .button {
                    margin-bottom: 0;
                    vertical-align: middle;
                }
            }
        }

    }
}