.form {

    margin: 10px;

    .uploadPhotoButton {
        width: 100%;
        font-size: small;
        margin-bottom:5px;
    }

    .pseudoBox {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .emailVerifiedDiv {

        cursor: pointer;
        padding-top: 5px;
        text-align: center;

        .lockImg {
            position: absolute;
            width: 50px;
            height: 48px;
        }

        .emailImg {
            width: 50px;
            height: 50px;
        }

        .sendVerifEmailButton {
            padding: 1px;
        }

    }

    .endButtons {

        .submitButton {
            width: 100%;
            margin-bottom: 10px;
        }

        .unsubscribeButton {
            width: 100%;
            margin-top: 10px;
        }
    }
}