<div class="body">
  <div class="box" *ngIf="this.online">
    <nav>
      <h1 class="title">Inscription</h1>
    </nav>
    <form [formGroup]="postForm" (ngSubmit)="signUp()">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="text" placeholder="Pseudo" formControlName="pseudo">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input class="input" type="Email" placeholder="Email" formControlName="email">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" formControlName="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="CheckPassword" formControlName="checkPassword">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success is-fullwidth">
                Inscription
              </button>
            </p>
            <p class="alreadyAccount">Already an account ? <a routerLink="/logIn">Log in</a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="box" *ngIf="!this.online">
    <p>You are currently offline. Try to use the application while being connected to internet, a newer version may exist</p>
  </div>
</div>