.body{
    background-color: rgb(16, 155, 197);
}

.box {
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(77, 189, 223);
    border-radius: 10px;
    padding: 15px;
    margin-top: 5%;
}

.title{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 2%;
}

form{
    margin-top: 8%;
    margin-right: 10%;
    margin-left: 10%;
}

.alreadyAccount{
    font-size: 20px;
}

.control.has-icons-left .input, .control.has-icons-left .select select {
    padding-left: 1.0em;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(152, 150, 150);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(152, 150, 150);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(152, 150, 150);
}