.header-main {
    background-color: rgb(9, 101, 129);
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    .header-link {
        text-decoration: none;
        color:rgba(0,0,0,.7);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-right: 15px;
        font-size: 30px;
        font-weight: bolder;
    }
}
