.navbar {
    background-color: rgb(9, 101, 129);
    font-size: 25px;
    padding: 1%;
    padding-top: 1%;

    #navbarBasicExample {
        background-color: transparent;
    }

    .navbar-item {
        text-decoration: none;
        color: rgb(121, 128, 234);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-right: 2%;
        font-size: large;
        font-weight: bolder;
    }

    .navbar-menu {
        box-shadow: none;
    }

    .end {
        float: right;
        width: 200px;

        .navbar-item {
            margin-left: 5%;
        }
    }
}