<div class="header-main">
    <table class="header-compartimenter">
        <th class="header-start">
            <a title="Don't have any support link yet" class="supportMe">
                Support me
            </a>
        </th>
        <th class="header-middle">
            <a class="title" routerLink="/">
                O-Bing
            </a>
        </th>

        <th class="header-end">
            <div *ngIf="!this.CurrentUser.isLoggedIn && loading">
                <div class="spinner">
                    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
                </div>
            </div>
            <div *ngIf="this.CurrentUser.isLoggedIn && !loading">
                <div class="userBox" >
                    <a (click)="displayProfileHeader()">
                        <img *ngIf="this.CurrentUser.isLoggedIn" class="imgProfile is" src="{{this.imgProfileURL}}" alt="profilePicture">
                    </a>
                    <br />
                    <a *ngIf="this.CurrentUser.isLoggedIn" (click)="displayProfileHeader()" class="currentUser">
                        {{this.CurrentUser.pseudo}}
                    </a>
                </div>
            </div>
            <div *ngIf="!this.CurrentUser.isLoggedIn">
                <a (click)="displayConnectHeader()" class="notConnected">
                    Not connected
                </a>
            </div>
            
        </th>
    </table>
    <app-header-profile (clickEvent)="clickEvent()" [userProfile]="this.CurrentUser" *ngIf="this.CurrentUser.isLoggedIn && this.displayProfile"></app-header-profile>
    <app-header-connect (clickEvent)="clickEvent()" *ngIf="!this.CurrentUser.isLoggedIn && this.displayConnect"></app-header-connect>
</div>