<div class="header">
    <table class="header-compartimenter">
        <th class="header-start">
            <a class="title" routerLink="/">
                O-Bing
            </a>
        </th>
            
        <th class="header-end">
            <img *ngIf="this.isLoggedIn" class="imgProfile is" src={{this.imgProfileURL}}>
            <a *ngIf="this.isLoggedIn" class="currentUser">
                {{this.currentUser.pseudo}}
            </a>
            <button *ngIf="this.isLoggedIn" class="button is-danger" value="Home" (click)="logOut()">
                Log out
            </button>
        </th>
    </table>
</div>