<div class="main-content">
    <div class="main-selector">
        <div>

            <button routerLink="/newBingo" class="button is-light">
                New Bingo
            </button>

            <button routerLink="/loadBingo" class="button is-light">
                Load a Bingo
            </button>
        </div>
        <div>
            <button routerLink="/searchBingo" class="button is-light">
                Search a Bingo
            </button>

            <button routerLink="/searchUser" class="button is-light">
                Search a user
            </button>
        </div>

        <div>
            <button routerLink="/randomBingo" class="button is-warning">
                Random Bingo
            </button>
            
            <div class="element">
                <button *ngIf="!currentUserConnected" routerLink="/signUp" class="small button is-info">
                    Sign up
                </button>

                <button *ngIf="!currentUserConnected" routerLink="/logIn" class="small button is-primary"> 
                    Log in
                </button>

                <button *ngIf="currentUserConnected" routerLink="/bingoUserList" class="button is-link">
                    My bingos
                </button>
            </div>
        </div>

    </div>
</div>