.main-content {
    text-align: center;
    height: 100%;
    background-color: rgb(16, 155, 197);
    margin-bottom: 120px;
    .main-selector{
        padding-top: 10px;
        text-align: center;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .element{
        display: inline-block;
    }

    .button {
        font-size: 25px;
        font-weight: bold;
        margin: 7px;
        margin-top: 40px;
        width: 270px;
    }
    
    .is-info {
        background-color: rgb(77, 189, 223);
    }

    .small{
        font-size: 25px;
        font-weight: bold;
        width: 128px;
    }

}