.main-content{
    text-align: center;
    height: 100%;
    font-size: 25px;

    .main-selector{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
        border-radius: 30px;
        background-color: rgb(9, 101, 129);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
    }
}
