<div class="main-content">
    <div class="spinner" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate" diameter="400"></mat-progress-spinner>
    </div>
    <div class="main-selector" *ngIf="!loading">
        <div>

            <button routerLink="/newBingo" class="button newBingo large-button is-light">
                New Bingo
            </button>

            <button routerLink="/loadBingo" class="button loadBingo large-button is-light">
                Load a Bingo
            </button>
        </div>
        <div>
            <button routerLink="/searchBingo" class="button searchBingo large-button is-light">
                Search a Bingo
            </button>

            <button routerLink="/searchUser" class="button searchUser large-button is-light">
                Search a user
            </button>
        </div>

        <div>
            <button routerLink="/randomBingo" class="button randomBingo large-button is-warning">
                Random Bingo
            </button>
            
            <div class="element">
                <div style="margin-right: 20px; margin-left: 18px;">
                    <button *ngIf="!currentUserConnected && online" routerLink="/signUp" class="small button signUp is-info">
                        Sign up
                    </button>

                    <button *ngIf="!currentUserConnected && online" routerLink="/logIn" class="small small-button button logIn is-primary"> 
                        Log in
                    </button>
                </div>
                <button *ngIf="currentUserConnected" routerLink="/bingoUserList" class="button bingoUserList large-button is-link">
                    My bingos
                </button>

                <button *ngIf="!online" routerLink="/localBingoList" class="button bingoUserList large-button is-link">
                    Local bingos
                </button>
            </div>
        </div>

    </div>
</div>