.main-content{
    text-align: center;
    height: 100%;
    font-size: 25px;

    .main-selector{
        background-color: rgb(9, 101, 129);
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
