<div class="main-content">

    <div class="main-selector">
        <div>

            <button class="button is-light">
                New Bingo
            </button>

            <button class="button is-light">
                Load a Bingo
            </button>
        </div>
        <div>
            <button class="button is-light">
                Search a Bingo
            </button>

            <button class="button is-light">
                Search a user
            </button>
        </div>

        <div>
            <button class="button is-warning">
                Random Bingo
            </button>
            
            <div class="element">
                <button class="small button is-info"> <!--routerLink="/signUp" -->
                    Sign up
                </button>

                <button class="small button is-primary"> <!--routerLink="/logIn" -->
                    Log in
                </button>
            </div>
        </div>

    </div>

</div>