.main-content {
    text-align: center;
    height: 100vh;
    background-color: rgb(16, 155, 197);
    padding-bottom: 50px;
    .creation-panel {
        min-width: 1000px;;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(77, 189, 223);
        border-radius: 10px;
        padding: 15px;
        .info {
            font-size: medium;
            font-weight: 100;
            color:rgb(29, 28, 28);
            .counter{
                display: inline;
                margin: 10px;
            }
            .formater{
                display: inline;
                margin: 10px;
            }
            .reminder{
                margin: 10px;
                display: inline;
            }
        }
        
        .newBingo{
            margin-top:10px;
            padding: 10px;
        }

        .autoCompleteButton{
            border: none;
            background: none;
            cursor: pointer;
            padding: 5px;
            background-color: rgb(204, 226, 233);
            border-radius: 3px;
            font-weight: 600;
            margin: 5px;
        }

        .saveButton{
            border: none;
            background: none;
            cursor: pointer;
            padding: 5px;
            background-color: rgb(204, 226, 233);
            border-radius: 3px;
            font-weight: 600;
            margin: 5px;
        }
    }

}

