<div class="body" id="body">
    <div class="spinner" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate" diameter="400"></mat-progress-spinner>
    </div>

    <div class="hasAccess" *ngIf="Bingo.uid != '' && !loading">
        <p>{{Bingo.uid}}</p>

        <p>{{Bingo.owner}}</p>

        <p>{{Bingo.creationDate}}</p>

        <p>Will allow to display a playable bingo overview for bingo</p>
        <div class="bingo">
            <ul class="lineList">
                <li *ngFor="let line of Bingo.content">
                    <ul>
                        <li class="line">
                            <app-tile-display *ngFor="let tile of line" [tile]="tile"></app-tile-display>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="noAccess" *ngIf="Bingo.uid == '' && !loading">
        <br/>
        <br/>
        <br/>
        <br/>
        <p>This bingo is private</p>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>


</div>